<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="2.01" package="com.sauzask.hissi">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="resourceId:0x7f050001" android:icon="resourceId:0x7f020004" android:hardwareAccelerated="true">
		<activity android:label="resourceId:0x7f050002" android:icon="resourceId:0x7f020007" android:name=".HissiActivity" android:launchMode="singleTask" android:configChanges="0x400000ff">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="hissi.org" android:pathPattern="/read.php/.*/.*/.*.html" />
</intent-filter>
</activity>
		<activity android:name=".HissiTop" android:configChanges="0x400000ff">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
		<meta-data android:name="android.max_aspect" android:value="2.3" />
</application>
</manifest>
